/* import other css files */
@import "./css/Nav.css";
@import "./css/Theme.css";

/* nav menu css for all screens */
nav {
    background-color: var(--nav-back-color);
    padding: 20px;
}

.logo-container {
    height: auto;
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-shot {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
}

.logo-container p {
    color: var(--nav-color);
    margin: 5px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

/* css for NavLink components */
.nav-link {
    list-style: none;
}

.nav-link {
    color: var(--nav-color);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.nav-link:hover {
    background-color: var(--nav-hover-color);
    border-radius: 5px;
}

/* when NavLink components are actively on that page*/
nav a.active {
    background-color: #eee;
}
/* for testing borders */
.border {
    border: 2px solid green;
}

/* state example for toggle active */
.active {
    opacity: 0;
}
